[core]
	excludesfile = ~/.git-templates/.gitignore-global
	editor = vim
	quotepath = false
[init]
	templatedir = ~/.git-templates
[commit]
	template = ~/.git-templates/.gitmessage.txt
[user]
	email = baoxianzhit@gmail.com
	name = zhangbaoxian
[magithub]
	online = false
[magithub "status"]
	includeStatusHeader = false
	includePullRequestsSection = false
	includeIssuesSection = false
[push]
	default = simple
[alias]
	unstage = reset HEAD --
	last = log -1 HEAD
[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
