[core]
	excludesfile = ~/.git_template/.gitignore-global
	editor = vim
	quotepath = false
	excludefile = /home/leo/.git_template/.gitignore-global
[init]
	templatedir = ~/.git_template
	defaultBranch = master
[commit]
	template = ~/.git_template/.gitmessage.txt
[user]
	email = baoxianzhit@gmail.com
	name = bxzhang
[magithub]
	online = false
[magithub "status"]
	includeStatusHeader = false
	includePullRequestsSection = false
	includeIssuesSection = false

[pull]
	rebase = true 
[push]
	default = simple
[alias]
	unstage = reset HEAD --
	last = log -1 HEAD
        mr = !sh -c 'git fetch $1 merge-requests/$2/head:mr-$1-$2 && git checkout mr-$1-$2' -
[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
